[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Konpov
[access "refs/for/refs/*"]
	read = group user/Konpov
	push = group user/Konpov
	label-Code-Review = -2..+2 group user/Konpov
	label-Verified = -1..+1 group user/Konpov
	rebase = group user/Konpov
	removeReviewer = group user/Konpov
	submit = group user/Konpov
[access "refs/heads/*"]
	read = group user/Konpov
	create = group user/Konpov
	push = +force group user/Konpov
	pushMerge = group user/Konpov
[access "refs/tags/*"]
	push = +force group user/Konpov
	pushTag = group user/Konpov
	pushSignedTag = group user/Konpov
